 
<nav class="navbar" id="navbar">
    <div class="logo">
            EVENT<span>LIVE</span>
    </div>
    <div class="nav-buttons">
        {% if request.user.is_authenticated %}
            <a href="{% url 'index' %}" class="nav-link nav-link-register">
                Perfil
            </a>
            <a href="{% url 'index' %}"  class="nav-link nav-link-register">
                Mis entradas
            </a>
            <form method="POST" action="{% url 'logout' %}" >
                {% csrf_token %}
                <button type="submit" class="nav-link nav-link-register">
                    Logout
                </button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-nav btn-outline">
                
                    Login
            </a>
            <a href="{% url 'register' %}" class="btn btn-nav btn-primary">
                
                    Registro
                
            </a>
        {% endif %}
    </div>

</nav>
{% block extra_js %}
    <script>

        const navbar = document.getElementById("navbar");

        window.addEventListener("scroll", () => {

            if(window.scrollY > 40){
                navbar.classList.add("scrolled");
            }else{
                navbar.classList.remove("scrolled");
            }

        });

    </script>
{% endblock %}