{% load static %}

{% block title %}
   Contraseña | EventLive
{% endblock %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'login/css/auth_styles.css' %}"
>

{% endblock %}

{% block content %}
<div class="auth-container text-center">
    <div class="auth-alert success">
        <h4>✅ ¡Contraseña cambiada!</h4>
        <p>Tu contraseña se ha actualizado correctamente en la base de datos.</p>
        <div class="auth-actions">
            <a href="{% url 'login' %}" class="btn-link">Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock %}