{% load static %}

{% block title %}
   Contraseña | EventLive
{% endblock %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'login/css/auth_styles.css' %}"
>

{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Nueva Contraseña</h2>
        <p class="auth-subtitle">Por favor, ingresá tu nueva contraseña dos veces para confirmar el cambio.</p>
        
        <form method="POST" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
            <div>{{form.errors}}</div>
            {% endif %}
            <button type="submit" class="btn-submit success">Confirmar nueva contraseña</button>
        </form>
    </div>
</div>
{% endblock %}